* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
body {
  background: #ff0000;
  display: grid;
  place-items: center;
  height: 100vh;
}
h1 {
  font-size: 4.5rem;
  text-transform: uppercase;
  color: #fff;
  font-style: italic;
}
